<div class="row">
  <div class="col-lg-12" id="agent_city_form">
      <%= render 'agent_city_form' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <span id="list_agent_city"><%= render 'list_agent_city' %></span>
  </div>
</div>